@charset "UTF-8";

body {
	background-color: #d9534f;
}

hr {
	border: 2px solid #ffffff;
}

.hr1 {
	border: 4px double #d9534f;
}

#logo {
	width: 100%;
	height: auto;
}

.script {
	margin: auto;
	width: 90%;
	font-family: Arial;
	text-align: justify;
	background-color: white;
	padding: 5%;
	border-radius: 25px;
}

.reglink {
	color: #d9534f;
}

.reglink:hover {
	color: orange;
}

.menu {
	text-align: center;
	font-family: Arial;
	font-weight: bold;
}

a.menu:link, a.menu:visited {
	color: #ffffff;
	text-align: center;
	text-decoration: none;
}

a.menu:hover, a.menu:active {
	background-color: white;
	color: #d9534f;
	padding: 3%;
	border-radius: 5px;
}

.menu1 {
	text-align: center;
	font-family: Arial;
	font-weight: bold;
}

a.menu1:link, a.menu1:visited {
	background-color: white;
	color: #d9534f;
	padding: 3%;
	border-radius: 5px;
}

a.menu1:hover, a.menu1:active {
	background-color: white;
	color: #d9534f;
	padding: 3%;
	border-radius: 5px;
}

a.link1:link, a.link1:visited {
	border-bottom: 1px solid #ffffff;
	color: #ffffff;
	text-decoration: none;
}

a.link1:hover, a.link1:active {
	background-color: white;
	color: #d9534f;
	border-radius: 5px;
}

a.link2:link, a.link2:visited {
	text-decoration: underline;
	color: #000000;
	text-decoration: none;
}

a.link2:hover, a.link2:active {
	color: #d9534f;
}

.warning {
	text-align: center;
	background-color: white;
	padding: 1%;
	font-family: Arial;
	font-weight: bold;
	font-size: 18px;
	color: #d9534f;
}

.error{
	color: white;
}

.coursetablehover{
	color:  #d9534f;
}

 img {
  display: block;
  width: auto;
  higth: auto;
  margin-left: auto;
  margin-right: auto;
}

/* .fa-facebook { */
/*   background: #3B5998; */
/*   color: white; */
/*   position: fix; */
/*   top: 1%; */
/*   right: 15%; */
/*   padding: 20px;  */
/*   font-size: 30px; */
/*   width: 50px; */
/*   text-align: right; */
/*   text-decoration: none; */
/*   border-radius: 50%; */
/* } */

/* .fa-twitter { */
/*   background: #55ACEE; */
/*   color: white; */
/*   position: fix; */
/*   top: 10%; */
/*   right: 10%; */
/*   padding: 20px; */
/*   font-size: 30px; */
/*   width: 50px; */
/*   text-align: right; */
/*   text-decoration: none; */
/*   border-radius: 50%; */
/* } */

.icon-bar {
  position: fixed;
  top: 20%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.icon-bar a:hover {
  background-color: #000;
}

.facebook {
  background: #3B5998;
  color: white;
  border-radius: 50%;
}

.twitter {
  background: #55ACEE;
  color: white;
  border-radius: 50%;
}
