@charset "UTF-8";

body {
	background-color: #d9534f;
}

hr {
	border: 2px solid #ffffff;
}

.hr1 {
	border: 4px double #d9534f;
}

#logo {
	width: 100%;
	height: auto;
}

.script {
	font-family: Arial;
	text-align: justify;
}

.reglink {
	color: #d9534f;
}

.reglink:hover {
	color: orange;
}

.menu {
	text-align: center;
	font-family: Arial;
	font-weight: bold;
}

a.menu:link, a.menu:visited {
	color: #ffffff;
	text-align: center;
	text-decoration: none;
}

a.menu:hover, a.menu:active {
	background-color: white;
	color: #d9534f;
	padding: 7%;
	border-radius: 7%;
}

.warning {
	text-align: center;
	background-color: white;
	padding: 1%;
	font-family: Arial;
	font-weight: bold;
	font-size: 18px;
	color: #d9534f;
}